@charset "UTF-8";

@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
    @extend %nofrill;
    list-style: none;
}

button {
    @extend %nofrill;
    background: none;
    border: none;
}
figure {
    @extend %nofrill;
    img {
        display: block;
        width: 100%;
    }
}

:focus {
    outline: none;
    border-bottom: dotted 1px $color-link;
}

// --------------------------------

body {
    color: $color-text;
    // color: #fff;
    // background: #000;
    font-family: PT;
    font-weight: $light;
    font-size: 15px;
    padding-bottom: 100px;
}


a {
    text-decoration: none;
    color: $color-link;
}

a:hover {
    opacity: 0.7;
}

a[class^="cc-"]:before {
    margin-right: 4px;
    font-size: 85%;
}

figure img {
    display: block;
}

h1 {
    margin: 100px 0 40px;
    font-family: code;
    font-weight: $light;
    color: $color-header;
    font-size: 50px;

    a {
        color: inherit;
    }

    span {
        display: block;
    }

    span, .deemphasize {
        font-size: 20px;
        font-family: raleway;
    }
}

h2 {
    font-family: raleway;
    font-weight: $light;
    color: $color-link;
    font-size: 30px;
    margin: 0;
}

h3 {
    @extend %nofrill;
    font-weight: $light;
    font-size: 14px;
    line-height: 1.3em;
    padding: 10px 0;
    width: 300px;
    color: #000;
}

p {
    font-size: 15px;
    line-height: 1.6em;
}

section {
    @extend %clearfix;
    padding: 40px 0 0 0;
}

article {
    @extend %clearfix;
    padding-bottom: 80px;

    header {
        padding: 80px 0 40px;
    }
}

%onBlack {
    background: #000;
    .title, h3 {
        color: #fff;
    }
    .tags {
        li {
            background-color: #404040;
            color: #ccc;
        }
    }
}

article.tugboat  {
    @extend %onBlack;
    padding-bottom: 0px;

    h2, h2 a, h3 {
        color: $color-tugboat;
    }

    .content {
        background: url(../img/lifesaver.jpg) no-repeat right center;
    }

    .title {
        color: #fff;
    }

    .tags {
        margin: 60px 0 80px 0;
        max-width: 300px;
        li {
            background-color: $color-tugboat;
            color: #fff;
        }
    }

}
article.subrosa {    
    h2, h2 a, h3 {
        color: $color-subrosa;
    }
}

article.dailybeast {
    @extend %onBlack;
    h2, h2 a {
        color: $color-beast;
    }
    .tags {
        margin: 60px 0 0px 0;
        max-width: 480px;
        li {
            background-color: $color-beast;
            color: #fff;
        }
    }
}

article.schematic {
    background: #eee;
    h2, h2 a {
        color: $color-schematic;
    }


}


nav {
    @extend %clearfix;

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            color: $color-link;
        }

        a:before {
            font-size: 14px;
        }
    }    
}

footer {
    margin-top: 100px;
    @extend %clearfix;
    background-color: #404040;
    color: #ffffff;
    padding: 40px 10px;
}

pre {
    @include round(10px);
    padding: 20px;
    background-color: #f7f7f7;
}

.content {
    @extend %clearfix;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.intro {
    @extend h2;
    font-size: 20px;
    line-height: 1.4em;
}

.title {
    margin: 0;
    font-size: 14px;
}

.tags {
    @extend %clearfix;
    width: 100%;
    max-width: 400px;

    li {
        display: block;
        font-size: 12px;
        background: #666;
        color: #fff;
        padding: 2px 5px;
        margin: 0 3px 3px 0;
        float: left;
    }
}

.demos {
    font-family: raleway;
    margin: 20px 0;

    li {
        margin-bottom: 5px;
    }
}

.imageList {
    @extend %clearfix;
    margin: 40px 0;
    width: 960px;

    li {
        @extend .nofrill;
        display: block;
        overflow: hidden;
        float: left;
        margin: 0px 5px 40px;
        height: 300px;
        padding-right: 10px;

        figure {
            @extend %nofrill;
            display: block;
            overflow: hidden;
            width: 100%;
            border-bottom: solid 20px #000;
            // @include customShadow(3px, 3px, 10px, 0px, #efefef);

            img {
                width: 100%;
                display: block;
            }
        }
    }
}

.duoList {
    @extend %clearfix;
    margin: 40px 0;
    width: 100%;

    li {
        float: right;
        width: 50%;

        figure {
            width: 480px;
            height: 220px;
            border-bottom: solid 20px #000;
            background: #fff;
        }

    }
    li:first-child {
        float: left;
    }
}

// ------------------------------------  ipad and smaller
@media screen and (max-width: 980px) {
    .content {
        width: 100%;
    }
}

// ------------------------------------  iphone
@media screen and (max-width: 600px)  {
    nav {
        li {
            display: block;
            margin-bottom: 10px;
        }
    }
}