@charset "UTF-8";

@import "partials/vars";
@import "partials/fonts";

// -------------------------------- resets 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
    @extend %nofrill;
    list-style: none;
}

button {
    @extend %nofrill;
    background: none;
    border: none;
}

:focus {
    outline: none;
    border-bottom: dotted 1px $color-link;
}

// --------------------------------

body {
    color: $color-text;
    font-family: PT;
    font-weight: $light;
    font-size: 15px;
}


a {
    text-decoration: none;
    color: $color-link;
}

a:hover {
    color: $color-hover;
}

a[class^="cc-"]:before {
    margin-right: 4px;
    font-size: 85%;
}

h1 {
    margin: 100px 0 40px;
    font-family: code;
    font-weight: $light;
    color: $color-header;
    font-size: 50px;

    a {
        color: inherit;
    }

    span {
        display: block;
    }

    span, .deemphasize {
        font-size: 20px;
        font-family: raleway;
    }
}

h2 {
    font-family: raleway;
    font-weight: $light;
    color: $color-header;
    font-size: 30px;
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 1.6em;
}

section {
    @extend %clearfix;
    padding: 40px 0 0 0;
}

article {
    @extend %clearfix;
    padding: 20px 0;
    border-bottom: solid 1px #ccc;
    margin-bottom: 40px;
}

nav {
    @extend %clearfix;

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            color: $color-link;
        }

        a:before {
            font-size: 14px;
        }
    }    
}

footer {
    margin-top: 100px;
    @extend %clearfix;
    background-color: #404040;
    color: #ffffff;
    padding: 40px 10px;
}

pre {
    @include round(10px);
    padding: 20px;
    background-color: #f7f7f7;
}

.content {
    @extend %clearfix;
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.intro {
    @extend h2;
    font-size: 20px;
    line-height: 1.4em;
}

.title {
    @extend h2;
    margin: 0;
    font-size: 16px;
    color: #000;
}

.imageList {
    @extend %clearfix;
    margin: 20px 0 20px -5px;

    li {
        @extend .nofrill;
        display: block;
        overflow: hidden;
        float: left;
        margin: 0px 5px 40px;
        padding-right: 10px;
        // width: 224px;
        // height: 220px;

        h3 {
            // @extend h2;
            font-weight: $light;
            font-size: 15px;
            line-height: 1.3em;
            color: #666;
            // background: #404040;
            margin-top: -11px;
            width: 212px;
            padding: 10px;
            min-height: 60px;
            // @include customShadow(3px, 3px, 10px, 0, #cccccc);
            margin-bottom: 10px;
            // border-left: solid 1px #ccc;
            // border-bottom: solid 1px #ccc;
            // border-right: solid 1px #ccc;
        }
        

        figure {
            @extend %nofrill;
            display: block;
            overflow: hidden;
            margin-bottom: 10px;
            @include customShadow(3px, 3px, 10px, 0, #cccccc);
            border-left: solid 1px #efefef;
            border-top: solid 1px #efefef;
            width: 210px;
        }

        .noshadow {
            @include customShadow(0, 0, 0, 0, transparent);
            border: none;
        }

        img {
            width: 100%;
            display: block;
        }
    }
}

// ------------------------------------  ipad and smaller
@media screen and (max-width: 980px) {
    .content {
        width: 100%;
    }
}

// ------------------------------------  iphone
@media screen and (max-width: 600px)  {
    nav {
        li {
            display: block;
            margin-bottom: 10px;
        }
    }
}