-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="Julia Yu Portfolio")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 

        .content
            h1
                |Portfolio
                span: a(href=".", class="deemphasize") Julia Yu

        article.tugboat
            .content
                header
                    h2: a(href="http://tugboat.co", target="_blank"): span Tugboat 
                    p.title: span Front End Engineer, May 2013 &ndash; now

                div
                    //- a(href="",  class="cc-pictures") Detail &nbsp; 
                    a(href="http://tugboat.co",  class="cc-eye", target="_blank"): span Visit

                ul.tags
                    li Javascript
                    li HTML
                    li SASS 
                    li D3
                    li jQuery
                    li Python
                    li Jinja2
                    li Typekit
                    

        article.subrosa
            header: .content 
                h2: a(href="http://www.wearesubrosa.com/", target="_blank") Sub Rosa
                p.title Lead Developer, June 2011 &ndash; May 2013

            .content

                ul.imageList
                    li
                        figure.all-subrosa.s-brvtvs
                        h3 BRVTVS Store Front
                        a(href="http://brvtvs.com", target="_blank", class="cc-eye") Visit
                    li
                        figure.all-subrosa.s-subrosa
                        h3 Sub Rosa
                    li
                        figure.all-subrosa.s-defiance
                        h3 SyFy Defiance Need Want Bar for TED 2013
                        a(href="defiance.html",  class="cc-pictures") Detail
                        
                    li
                        figure.all-subrosa.s-nike
                        h3 Nike Flyknit Collective
                    li
                        figure.all-subrosa.s-foc
                        h3 Fashion Outlet of Chicago
                        //- a(href="",  class="cc-pictures") Detail
                    li
                        figure.all-subrosa.s-fcukfragrance
                        h3 FCUK Fragrance 
                    li
                        figure.all-subrosa.s-friction
                        h3 FCUK Friction
                    li
                        figure.all-subrosa.s-rachelzoe
                        h3 Neiman Marcus Rachel Zoe Facebook App
                        a(href="zoe.html",  class="cc-pictures") Detail
                    li
                        figure.all-subrosa.s-gotube
                        h3 Target GoTube for 2012 London Olympics
                    li
                        figure.all-subrosa.s-gegarage
                        h3 GE Garages Event Board
                    li
                        figure.all-subrosa.s-mamo
                        h3 GE By Woman for Woman
                        a(href="mamo.html",  class="cc-pictures") Detail
                    li
                        figure.all-subrosa.s-kss
                        h3 Kate Spade Saturday
                    li
                        figure.all-subrosa.s-bike
                        h3 Levi Bikeshop x Urbanoutfitters
                    
                ul.tags
                    li Javascript
                    li HTML
                    li SASS 
                    li jQuery
                    li HAML
                    li Jade
                    li Ruby on Rails
                    li Node
                    li Express
                    li Word Press
                    li Big Cartel
                    li PHP
                    li Git

        article.dailybeast
            header: .content 
                h2: a(href="http://www.thedailybeast.com/", target="_blank") The Daily Beast / Newsweek
                p.title Senior Developer, June 2010 &ndash; June 2011

            .content
                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li jQuery
                    li Ruby on Rails
                    li SVN
         
            ul.duoList
                li
                    h3: span Newsweek &amp; The Daily Beast
                    figure: img(src="img/dailybeast.png" alt="newsweek dailybeast logo" width="480" height="220")
                    
                li
                    h3 Andrew Sullivan's The Dish 
                    figure: img(src="img/thedish.png" alt="andrew sullivan the dish logo" width="480" height="220")

        article.schematic
            header: .content 
                h2 Schematic
                p.title Senior Software Developer, August 2006 &ndash; July 2010

            .content
                ul.imageList
                    li
                        figure.s-schematic.s-bible
                        h3 Library of Congress Gutenberg Bible
                    li
                        figure.s-schematic.s-bbc
                        h3 BBC Olympics iPhone Demo
                    li
                        figure.s-schematic.s-sesame
                        h3 Sesame Workshop
                    li
                        figure.s-schematic.s-clues
                        h3 Scholastics 39Clues
                    li
                        figure.s-schematic.s-hsn
                        h3 HSN Silverlight Player
                    li
                        figure.s-schematic.s-vevo
                        h3 Vevo
                    

                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li jQuery
                    li Objective C
                    li Silverlight 1.0
                    li PHP
                    li JSP
                    li SVN
                    li CVS
                    
        article.razorfish
            header: .content 
                h2: a(href="http://www.razorfish.com/", target="_blank") Razorfish
                p.title Presentation Layer Developer, February 2005 &ndash; August 2006

            .content
                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li ASP
                    li Teamsite
                    li IW-Perl
        
        article.bay9
            header: .content 
                h2 Bay9
                p.title Web Developer, June 2002 &ndash; December 2004

            .content
                ul.tags
                    li HTML
                    li CSS
                    li Perl 
                    li CGI
                    li mySQL

        



