-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/thumb/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/thumb/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1
                |Portfolio
                span: a(href=".", class="deemphasize") Julia Yu

        article.tugboat
            .content
                header
                    h2: a(href="http://tugboat.co", target="_blank") Tugboat 
                    p.title Front End Engineer, May 2013 &ndash; now

                //- ul.demos
                //-     li: a(href="#") D3 graphs
                //-     li: a(href="#") Suggest theme
                //-     li: a(href="#") Screen shots

                ul.tags
                    li Javascript
                    li HTML
                    li SASS 
                    li D3
                    li jQuery
                    li Python
                    li Jinja2
                    li Typekit
                    

        article.subrosa
            header: .content 
                h2: a(href="http://www.wearesubrosa.com/", target="_blank") Sub Rosa
                p.title Lead Developer, June 2011 &ndash; May 2013

            .content
                //- ul.demos
                //-     li: a(href="#") Drag &amp; Pan 
                //-     li: a(href="#") Collage
                //-     li: a(href="#") Flipboard
                //-     li: a(href="#") Swap

                ul.imageList

                    li
                        figure: img(src="img/thumb/brvtvs.png" alt="brvtvs bigcartel store")
                        h3 BRVTVS Store Front
                    li
                        figure: img(src="img/thumb/subrosa.png" alt="subrosa home")
                        h3 Sub Rosa

                    li
                        figure: img(src="img/thumb/defiance.png" alt="syfy defiance ipad controller")
                        h3 SyFy Defiance Need Want Bar for TED 2013
                    li
                        figure: img(src="img/thumb/nike.png" alt="nike flyknit collective workshop invite")
                        h3 Nike Flyknit Collective
                    li
                        figure: img(src="img/thumb/foc.png" alt="fashion outlet of chicago footer view")
                        h3 Fashion Outlet of Chicago
                    li
                        figure: img(src="img/thumb/fcukfragrance.png" alt="fcuk fragrance product shot")
                        h3 FCUK Fragrance 
                    li
                        figure: img(src="img/thumb/friction.png" alt="fcuk friction parallax panel")
                        h3 FCUK Friction
                    li
                        figure: img(src="img/thumb/rachelzoe.png" alt="rachel zoe facebook app collage")
                        h3 Neiman Marcus Rachel Zoe Facebook App
                    li
                        figure: img(src="img/thumb/gotube.png" alt="target gotube image reclaim site")
                        h3 Target GoTube for 2012 London Olympics
                    li
                        figure: img(src="img/thumb/gegarage.png" alt="ge garages main display event board")
                        h3 GE Garages Event Board
                    li
                        figure: img(src="img/thumb/mamo.png" alt="GE by woman for woman mamo room node app")
                        h3 GE By Woman for Woman
                    li
                        figure: img(src="img/thumb/kss.png" alt="kate spade saturday site prototype")
                        h3 Kate Spade Saturday
                    li
                        figure: img(src="img/thumb/bike.png" alt="levi bike shop urban outfitters")
                        h3 Levi Bikeshop x Urbanoutfitters
                    
                ul.tags
                    li Javascript
                    li HTML
                    li SASS 
                    li jQuery
                    li HAML
                    li Jade
                    li Ruby on Rails
                    li Node
                    li Express
                    li Word Press
                    li Big Cartel
                    li PHP
                    li Git

  

        article.dailybeast
            header: .content 
                h2: a(href="http://www.thedailybeast.com/", target="_blank") The Daily Beast / Newsweek
                p.title Senior Developer, June 2010 &ndash; June 2011

            .content 
                ul.duoList
                    li
                        figure: img(src="img/dailybeast.png" alt="newsweek dailybeast logo")
                        h3 Newsweek &amp; The Daily Beast

                    li
                        figure: img(src="img/thedish.png" alt="andrew sullivan the dish logo")
                        h3 Andrew Sullivan's The Dish Blog

                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li jQuery
                    li Ruby on Rails
                    li SVN

        article.schematic
            header: .content 
                h2 Schematic
                p.title Senior Software Developer, August 2006 &ndash; July 2010

            .content
                ul.imageList
                    li
                        figure: img(src="img/thumb/bible.png" alt="gutenberg bible silverlight interactive")
                        h3 Library of Congress Gutenberg Bible
                    li
                        figure: img(src="img/thumb/bbc.png" alt="bbc olympics iphone app demo views")
                        h3 BBC Olympics iPhone Demo
                    li
                        figure: img(src="img/thumb/39clues.png" alt="scholastics the 39 clues book cover")
                        h3 Scholastics 39Clues
                    li
                        figure: img(src="img/thumb/hsn.png" alt="hsn silverlight 1.0 player")
                        h3 HSN Silverlight Player
                    li
                        figure: img(src="img/thumb/vevo.png" alt="vevo search")
                        h3 Vevo
                    li
                        figure: img(src="img/thumb/sesame.png" alt="sesame workshop home")
                        h3 Sesame Workshop

                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li jQuery
                    li Objective C
                    li Silverlight 1.0
                    li PHP
                    li JSP
                    li SVN
                    li CVS
                    
        article.razorfish
            header: .content 
                h2: a(href="http://www.razorfish.com/", target="_blank") Razorfish
                p.title Presentation Layer Developer, February 2005 &ndash; August 2006

            .content
                ul.tags
                    li HTML
                    li CSS
                    li Javascript 
                    li ASP
                    li Teamsite
                    li IW-Perl
        
        article 
            header: .content 
                h2 Bay9
                p.title Web Developer, June 2002 &ndash; December 2004

            .content
                ul.tags
                    li HTML
                    li CSS
                    li Perl 
                    li CGI
                    li mySQL




        article 
            header: .content
                h2 New York University
                p.title B.A., Computer Science, September 1998 &ndash; May 2002



