-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/thumb/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/thumb/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1
                |Portfolio
                span: a(href=".", class="deemphasize") Julia Yu

            article 
                h2: a(href="http://tugboat.co", target="_blank") Tugboat 
                p.title Front End Engineer, May 2013 &ndash; now

                ul.imageList
                    li
                        figure: img(src="img/thumb/tugboat.png" alt="tugboat home")
                        

                    li
                        figure: img(src="img/thumb/tugboat-home.png" alt="tugboat home")
                        h3 Tugboat.co


            article 
                h2: a(href="http://www.wearesubrosa.com/", target="_blank") Sub Rosa
                p.title Lead Developer, June 2011 &ndash; May 2013

                ul.imageList
                    li
                        figure.noshadow: img(src="img/thumb/subrosa.png" alt="subrosa contact page")

                    li
                        figure: img(src="img/thumb/brvtvs.png" alt="brvtvs bigcartel")
                        h3 BRVTVS
                    li
                        figure: img(src="img/thumb/defiance.png" alt="brvtvs bigcartel")
                        h3 SyFy Defiance Need Want Bar for TED 2013
                    li
                        figure: img(src="img/thumb/nike.png" alt="brvtvs bigcartel")
                        h3 Nike Flyknit Collective
                    li
                        figure: img(src="img/thumb/foc.png" alt="brvtvs bigcartel")
                        h3 Fashion Outlet of Chicago
                    li
                        figure: img(src="img/thumb/fcukfragrance.png" alt="brvtvs bigcartel")
                        h3 FCUK Fragrance 
                    li
                        figure: img(src="img/thumb/friction.png" alt="brvtvs bigcartel")
                        h3 FCUK Friction
                    li
                        figure: img(src="img/thumb/gegarage.png" alt="brvtvs bigcartel")
                        h3 GE Garages Event Board
                    li
                        figure: img(src="img/thumb/gotube.png" alt="brvtvs bigcartel")
                        h3 Target GoTube for 2012 London Olympics
                    li
                        figure: img(src="img/thumb/kss.png" alt="brvtvs bigcartel")
                        h3 Kate Spade Saturday
                    li
                        figure: img(src="img/thumb/mamo.png" alt="brvtvs bigcartel")
                        h3 GE By Woman for Woman
                    li
                        figure: img(src="img/thumb/rachelzoe.png" alt="brvtvs bigcartel")
                        h3 Neiman Marcus Rachel Zoe Facebook App
  

            article 
                h2: a(href="http://www.thedailybeast.com/", target="_blank") The Daily Beast / Newsweek
                p.title Senior Developer, June 2010 &ndash; June 2011

                ul.imageList
                    li
                        figure.noshadow: img(src="img/thumb/newsweek.png" alt="newsweek dailybeast")
                    li
                        figure: img(src="img/thumb/dailybeast.png" alt="the daily beast")
                        h3 The Daily Beast
                    li
                        figure: img(src="img/thumb/thedish.png" alt="andrew sullivan the dish")
                        h3 Andrew Sullivan's The Dish Blog
            article 
                h2 Schematic
                p.title Senior Software Developer, August 2006 &ndash; July 2010

                ul.imageList
                    li
                        figure.noshadow: img(src="img/thumb/schematic.png" alt="scholastics the 39 clues")
                    li
                        figure: img(src="img/thumb/bible.png" alt="scholastics the 39 clues")
                        h3 Library of Congress Silverlight Gutenberg Bible
                    li
                        figure: img(src="img/thumb/bbc.png" alt="bbc olympics iphone app demo")
                        h3 BBC Olympics iPhone Demo
                    li
                        figure: img(src="img/thumb/bestbuy.png" alt="scholastics the 39 clues")
                        h3 Best Buy Corporate
                    li
                        figure: img(src="img/thumb/39clues.png" alt="scholastics the 39 clues")
                        h3 Scholastics 39Clues
                    li
                        figure: img(src="img/thumb/vevo.png" alt="scholastics the 39 clues")
                        h3 Vevo
                    li
                        figure: img(src="img/thumb/hsn.png" alt="scholastics the 39 clues")
                        h3 HSN Silverlight Player
                    li
                        figure: img(src="img/thumb/sesame.png" alt="scholastics the 39 clues")
                        h3 Sesame Workshop
                    
            

            article 
                h2: a(href="http://www.razorfish.com/", target="_blank") Razorfish
                p.title Presentation Layer Developer, February 2005 &ndash; August 2006

                ul.imageList
                    li
                        figure.noshadow: img(src="img/thumb/razorfish.png" alt="scholastics the 39 clues")
                    li
                        figure: img(src="img/thumb/pmusa.png" alt="scholastics the 39 clues")
                        h3 Phillip Morris USA

            article 
                h2 Bay9
                p.title Web Developer, June 2002 &ndash; December 2004


            article 
                h2 New York University
                p.title B.A., Computer Science, September 1998 &ndash; May 2002



