-var addMin = (dev == true) ? "" : ".min"

doctype html
html(lang="en")
    head
        meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
        title Julia Yu Portfolio
        meta(name="description", content="a jQuery carousel plugin by Julia Yu")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main"+ addMin +".css")

    body 
        .content
            h1
                |Past Work
                a(href=".", class="deemphasize") Julia Yu


            article 
                h2: a(href="http://tugboat.co", target="_blank") Tugboat Yards
                p.timespan May 2013 &ndash; now
                p.title Front End Engineer


            article 
                h2: a(href="http://www.wearesubrosa.com/", target="_blank") Sub Rosa
                p.timespan June 2011 &ndash; May 2013
                p.title Lead Developer

                ul.projectlist 
                    li 
                        img(src="img/thumb/flyknit.jpg")
                        h3 Nike Flyknit Collective
                    li 
                        img(src="img/thumb/defiance.jpg")
                        h3 SyFy Defiance Need Want Bar for TED 2013
                    li 
                        img(src="img/thumb/foc.jpg")
                        h3 Fashion Outlets Chicago
                    li 
                        img(src="img/thumb/kss.jpg")
                        h3 Kate Spade Saturday
                    li 
                        img(src="img/thumb/garage.png")
                        h3 GE Garages
                    li 
                        img(src="img/thumb/brvtvs.jpg")
                        h3 BRVTVS
                    li 
                        img(src="img/thumb/gotube.jpg")
                        h3 Target GoTube
                    li 
                        img(src="img/thumb/subrosa.jpg")
                        h3 Sub Rosa
                    li 
                        img(src="img/thumb/fcukfragrance.jpg")
                        h3 FCUK Fragrance
                    li 
                        img(src="img/thumb/fcukfriction.jpg")
                        h3 FCUK Friction
                    li 
                        img(src="img/thumb/mamo.jpg")
                        h3 GE for Women By Women
                    li 
                        img(src="img/thumb/zoe.jpg")
                        h3 Neiman Marcus Rachel Zoe

                    li 
                        img(src="img/thumb/bikeshop.jpg")
                        h3 Levi's Bike Shop x Urban Outfitters

            article 
                h2: a(href="http://www.thedailybeast.com/", target="_blank") The Daily Beast / Newsweek
                p.timespan June 2010 &ndash; June 2011
                p.title Senior Developer

                ul.projectlist
                    li 
                        img(src="img/thumb/dailybeast.jpg")
                        h3 Daily Beast

                    li 
                        img(src="img/thumb/thedish.jpg")
                        h3 Andrew Sulliva the Dish

                    li: h3 Newsweek

            article 
                h2 Schematic
                p.timespan August 2006 &ndash; July 2010
                p.title Senior Software Developer

                ul.projectlist
                    li 
                        img(src="img/thumb/bbc.png")
                        h3 BBC Olympics iPhone Demo

                    li 
                        img(src="img/thumb/gilt.jpg")
                        h3 Gilt Group IE9 Webslice

                    li 
                        img(src="img/thumb/vevo.jpg")
                        h3 Vevo

                    li 
                        img(src="img/thumb/39clues.jpg")
                        h3 Scholastic 39 Clues

                    li 
                        img(src="img/thumb/sesame.jpg")
                        h3 Sesame Workshop

                    li 
                        img(src="img/thumb/loc.jpg")
                        h3 Library of Congress 

                    li 
                        img(src="img/thumb/nokia.jpg")
                        h3 Nokia Ovi Store

                    li 
                        img(src="img/thumb/39clues.jpg")
                        h3 Scholastic 39 Clues

            article 
                h2: a(href="http://www.razorfish.com/", target="_blank") Razorfish
                p.timespan February 2005 &ndash; August 2006
                p.title Presentation Layer Developer

                ul.projectlist
                    li: h3 Chase 
                    li: h3 Kodak 
                    li: h3 Phillip Morris 

            article 
                h2 Bay9
                p.timespan June 2002 &ndash; December 2004
                p.title Web Developer

                ul.projectlist
                    li: h3 Xuppa.com 
                    li: h3 Best Art 
                    li: h3 Bay9 

            article 
                h2 New York University
                p.timespan September 1998 &ndash; May 2002
                p.title B.A., Computer Science



