/**
Reset
*/
html, body, div, span, object, iframe,
h1, h3, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

body {
   line-height:1em;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display:block;
}

nav ul {
   list-style:none;
}

blockquote, q {
   quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content:'';
   content:none;
}

a {
   margin:0;
   padding:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

ins {
   background-color:#ff9;
   color:#000;
   text-decoration:none;
}

mark {
   background-color:#ff9;
   color:#000;
   font-style:italic;
   font-weight:bold;
}

del {
   text-decoration: line-through;
}

abbr[title], dfn[title] {
   border-bottom:1px dotted;
   cursor:help;
}

table {
   border-collapse:collapse;
   border-spacing:0;
}

hr {
   display:block;
   height:1px;
   border:0;
   border-top:1px solid #cccccc;
   margin:1em 0;
   padding:0;
}

input, select {
   vertical-align:middle;
}

ol, ul, li {
       list-style: none;
       overflow: hidden;
}

article,
header,
footer,
aside,
hgroup {
       overflow: hidden;
}

h1, h2, h3, h4 {
	font-weight: normal;
	line-height: 1.1em;
}

/**
*/
body {
	font-family: Georgia;
	font-size: 15px;
	background: url("../img/strokelight.jpg") repeat-x 0 100px fixed;
	color: #555;
	padding-bottom: 600px;
	padding: 20px;
}

a {
	color: #6f8393;
}

h1 {
	font-size: 60px;
	margin-bottom: 20px;
}

section {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#stage {
	border: solid 1px #ccc;
	width: 600px;
	height: 600px;
	float: left;
	margin-right: 20px;
	position: relative;
}

#stage span {
	text-align: center;
	margin-top: 100px;
	display: block;
}

#selectFrom {
	float: left;
	text-align: center;
	width: 114px;
}

.carrotCellView {
	height: 535px;
	margin-top: 5px;
	border: solid 1px #efefef;
}

#selectFrom .prev, #selectFrom .next {
	display: block;
	background: #efefef;
	margin: 5px 0;
	padding: 5px;
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
}

#selectFrom li {
	display: block;
	width: 100px;
	height: 145px;
	border: solid 1px #ccc;
	margin: 5px;
}

#selectFrom li img {
	width: 100px;
}

.ui-draggable {
	cursor: pointer;
}


#stage .stageItem.over {
  background: url(/images/tile_transparent.png) repeat 0 0;
}

#stage .stageItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 225px;
  cursor: pointer;
  z-index: 50;
border: dotted 1px transparent;
}

#stage .stageItem.over {
	border: dotted 1px #ccc;
}

#stage .stageItem img {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
height: 100%;
}

#stage .stageItem .ui-resizable-handle {
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  background-image: url(img/icon_sprite.png);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  z-index: 100;
  opacity: 0;
}

#stage .stageItem .ui-resizable-e {
  background: none;
  cursor: e-resize;
  height: 100%;
  right: -5px;
  top: 0;
  width: 7px;
}

#stage .stageItem .resizeTools {
  display: block;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 95%;
  opacity: 0;
  z-index: 100;
}

#stage .stageItem .resizeTools li {
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  width: 13px;
  height: 13px;
  margin-right: 7px;
  float: left;
  background-image: url(img/icon_sprite.png);
}

#stage .stageItem .resizeTools .close {
  background-position: -56px 0px;
}

#stage .stageItem .resizeTools .forward {
  background-position: 0px -47px;
  float: right;
}

#stage .stageItem .resizeTools .back {
  background-position: -15px -47px;
  float: right;
}

.tooltip, #tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
  font-size: 10px;
  font-family: arial;
  font-weight: normal;
}


#tooltip, #tooltip h3, #tooltip .url {
  font-size: 10px;
  font-family: arial;
  font-weight: normal;
}


#tooltip h3, #tooltip div {
  margin: 0;
}
