body {
	background: #000;
	color: #fff;
	visibility: hidden;
	font-family: "helvetica neue", helvetica, arial;
}

h1 {
	color: #fff;
	font-family: Georgia, Times;
	font-size: 40px;
	margin: 20px auto;
	text-align: center;
}

#stores {
	display: block;
	overflow: hidden;
	position: relative;
	width: 960px;
	margin: 50px auto;
	padding: 0;
	list-style-type: none;
	visibility: hidden;
}

#stores li, .top, .bottom {
	width: 960px;
	display: block;
	overflow: hidden;
	background: black;
}

#stores li {
	height: 28px;
	position: relative;
	border-bottom: solid 1px black;
	margin-bottom: 10px;
}

#stores li.hasContent {
	border-bottom: solid 1px white;
}

#stores li.last {
	border: none;
}

.top, .bottom {
	height: 10px;
	overflow: hidden;
	position: relative;
	margin: 0;
}

.top {
	border-bottom: solid 3px black;
}

.old, .new {
  	height: 20px;
	width: 960px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.old .tile {
/*	background: red;*/
}

.bottom .old, .bottom .new {
	top: -11px;
}

.tile {
	display: block;
	overflow: hidden;
	height: 20px;
	width: 22px;
	padding: 0px;
	position: absolute;
	left: 0;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	background: #000;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.top .tile {
	bottom: 0;
	-webkit-transform: translateY(0);
	-webkit-transform-origin: 0% 0%;
	-webkit-transition: height 0.5s ease, -webkit-transform 0.5s ease;
	transform: translateY(0);
	transform-origin: 0% 0%;
	transition: height 0.5s ease, -webkit-transform 0.5s ease;
}

.bottom .tile {
	top: -1px;	
	-webkit-transform: translateY(0);
	-webkit-transform-origin: 100% 100%;
	-webkit-transition: height 0.5s ease, -webkit-transform 0.5s ease;
	transform: translateY(0);
	transform-origin: 100% 100%;
	transition: height 0.5s ease, -webkit-transform 0.5s ease;
}

.top .old .tile {
	z-index: 5;
}

.top .new .tile {
	z-index: 4;
}

.bottom .old .tile {
	z-index: 4;
}

.bottom .new .tile {
  	z-index: 5;
	height: 0px;
}

#stores .tileHide {
	height: 0px;
}

#stores .tileShow {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	height: 24px;
}

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
}
