// ----------------------------------------------- font weights

$xlight: 100;
$light: 300;
$regular: 400;
$book: 500;
$semibold: 600;
$bold: 700;

$font-cap: code, verdana, sans-serif;
$font-title: raleway, verdana, sans-serif;
$font-body: PT, verdana, sans-serif;

// ----------------------------------------------- colors

$color-text: #aaaaaa;
$color-main-header: #dddddd;
$color-header: #999999;

$color-link: #ff9900;
$color-hover: #01383f;
$color-bg: #f3f3f3;

$color-beast: #e81b41;
$color-subrosa: #2c1a3d;
$color-tugboat: #029fb5;
$color-razorfish: #adbd29;
$color-schematic: #029cd8;
$color-bay9: #ff9900;
$color-nyu: #58068c;

// ----------------------------------------------- 

$thumb-width: 300px;

// ----------------------------------------------- extendables
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
        
%nofrill {
    margin: 0; /* test */
    padding: 0; 
}




    