// ----------------------------------------------- font weights

$xlight: 100;
$light: 300;
$regular: 400;
$book: 500;
$semibold: 600;
$bold: 700;

$font-cap: code, verdana, sans-serif;
$font-title: raleway, verdana, sans-serif;
$font-body: PT, verdana, sans-serif;

// ----------------------------------------------- colors

$color-text: #aaaaaa;
$color-main-header: #dddddd;
$color-header: #999999;

$color-link: #ff9900;
$color-hover: #01383f;
$color-bg: #f3f3f3;

$color-beast: #e81b41;
$color-subrosa: #2c1a3d;
$color-tugboat: #029fb5;
$color-razorfish: #adbd29;
$color-schematic: #029cd8;
$color-bay9: #ff9900;
$color-nyu: #58068c;

// ----------------------------------------------- extendables

%clearfix {
    zoom: 1;

    &:before, &:after  {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }   
}
    
%clipbox {
    width: 100%;
    overflow: hidden;
}
    
%nofrill {
    @extend %clearfix;
    margin: 0;
    padding: 0;
}

%beforeCarrotCell {
    font-family: "carrotcell" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

// ----------------------------------------------- mixins
@mixin round($rad){
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}

@mixin customShadow($x, $y, $size, $spread, $color-shadow) {
    -moz-box-shadow: $x $y $size $spread $color-shadow;
    -webkit-box-shadow: $x $y $size $spread $color-shadow;
    box-shadow: $x $y $size $spread $color-shadow;
}

@mixin customRound($tl, $tr, $bl, $br) {
    -webkit-border-top-left-radius: $tl;
    -webkit-border-top-right-radius: $tr;
    -webkit-border-bottom-right-radius: $br;
    -webkit-border-bottom-left-radius: $bl;

    -moz-border-radius-topleft: $tl;
    -moz-border-radius-topright: $tr;
    -moz-border-radius-bottomright: $br;
    -moz-border-radius-bottomleft: $bl;

    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $bl;
}
    
    
    